:root {
  --body-background: #f4f4f9;
  --btn-primary: #5cabff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}
#todoInput {
  width: 75%;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

#addTodo {
  padding: 10px 20px;
  background-color: var(--btn-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:hover{
    background-color: aliceblue;
}

li:last-child{
    border-bottom: none;
}